body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  }


  .grid-container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 90vh;
    width: 100%;
  }
    
  .header-container {
    grid-column: 1/4;
    grid-row: 1;
    padding: 12px;
  }
  
  /* PIC OF ME */
  .main-container {
    grid-column: 1/2;
    grid-row: 2;
    height: 70vh;
    margin-right: 90px;
    margin-left: 90px;
    padding: 10px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  .sidebar-container {
    grid-column: 2/4;
    grid-row: 2;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .logo-position {
    float: left;
  }
  
  .header-flex {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 20px;
  }
  
  nav a {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin: 0 20px;
  }
  
  a {
    text-decoration: none;
  }
 
  /* WHO */
  .sidebar-title {
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
    width: 400px;
    border-bottom: 5px solid #333;
  }
  
  .sidebar-tagline {
    font-size: 20px;
    line-height: 15px;
    color: #333;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .btn-spacing {
    padding-left: 30px;
    /* margin-top: 20px; */
  }
  
  .sidebar-btn {
    background-color: #333;
    color: #ffffff;
    width: 200px;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
  }

.sidebar-btn:hover {
  background-color: #6291D0;
}
  
  .sidebar-btn i {
    color: #ffffff;
  }
  
  .btn-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-container {
    grid-column: 1/4;
    grid-row: 3;
    padding: 10px;
    border-top: 60px solid #333;
    margin-bottom: 10px;
  }

  /* WHY */
  .footer-flex {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }
  
  .icons-flex {
    display: flex;
  }
    
  .square {
    margin-right: 10px;
  }
  
  a .square {
    color: #333;
  }
  
  a .square:hover {
    color: #6291D0;
  }
  
  /* 
    The fontawesome instagram square icon doesn't work
    We can make our own square icon with the help of CSS
  */
  .insta-box {
    margin-top: 2px;
    color: #fff;
    background-color: #333;
    width: 43px;
    height: 43px;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  a .insta-box:hover {
    background-color: #6291D0;
  }
  
  .insta {
    color: #fff;
    margin: 5px 0 0 7.5px;
  }

  .box1 {
    grid-column: 1/2;
    grid-row: 4;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 30px;
    padding-top: 45px;
    
}

.box2 {
    grid-column: 2/3;
    grid-row: 4;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.box3 {
    grid-column: 3/4;
    grid-row: 4;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.nested {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
  
h4 { 
  border-top: #333 2px solid;
  padding: 1em;
  text-align: center;
}

.box4 {
    grid-column: 1/4;
    grid-row: 5;
    padding: 10px;
    border-top: 60px solid #333;
}

.last-container {
  grid-column: 1/4;
  grid-row: 6;
  padding: 10px;
  border-top: 60px solid #333;
  margin-bottom: 10px;
}

.last-flex {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

.last:hover {
  color: #6291D0;
  letter-spacing: 2px;
}

.last {
  color: #333;
}

h3 {
  margin-bottom: 30px;
}