/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #3F3F3F;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #6291D0;
  }
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

.main-section {
    background-image: url(Assets/IMG_8644.JPG);
    margin: 20px;
    padding: 100px;
    width: auto;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    }